* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.main-header {
    background-color: #3f51b5; 
    color: white;           
    padding: 10px 5%;         
    display: flex;          
    justify-content: space-between; 
    align-items: center;     
    font-size: 0.8rem;        
}


.main-header a,
.main-header span {
    color: inherit;            
    text-decoration: none;
    padding: 0 15px;         
    line-height: 1.2;      
}

.main-content-wrapper {
    display: flex;     
    min-height: 80vh;   
    background-color: #eee


.header-right {
    display: flex;
    align-items: center;
}


.header-right span {
    padding-right: 10px; 
}

.cart-icon {
    font-size: 1.2rem;
    padding-right: 0; 
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.secondary-nav {
    background-color: #eee; 
    padding: 15px 5%;
    display: flex;          
    align-items: center;
    justify-content: space-between; 
}

.logo-main {
    font-size: 2.2rem;
    font-weight: 800;
    color: #4857a6; 
    letter-spacing: -1px;
}


.search-container {
    display: flex;
    flex-grow: 1; 
    margin: 0 30px; 
    max-width: 600px; 
}

.search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-right: none; 
    flex-grow: 1;
    font-size: 1rem;
    height: 40px;
}

.search-button {
    background-color: #4857a6; 
    border: none;
    color: white;
    padding: 0 18px;
    cursor: pointer;
    height: 40px;
    font-size: 1rem;
}


.financing-button {
    background-color: #d90000; 
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 3px;
    }

.product-grid {
    flex-grow: 1; 
    padding: 30px;
 
}

.vertical-menu {
    width: 250px; 
    flex-shrink: 0;
    
    background-color: white; 
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list li a {
    display: block; 
    background-color: #4169E1;
    color: white;
    padding: 15px 20px;
    text-decoration: none; 
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid white; 
    transition: background-color 0.3s;
}

.menu-list li:last-child a {
    border-bottom: none;
}

.menu-list li a:hover {
    background-color: #3350B5; 
}