* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.main-header {
    background-color: #3f51b5; 
    color: white;           
    padding: 10px 5%;         
    display: flex;          
    justify-content: space-between; 
    align-items: center;     
    font-size: 0.8rem;        
}


.main-header a,
.main-header span {
    color: inherit;            
    text-decoration: none;
    padding: 0 15px;         
    line-height: 1.2;      
}


.header-left a,
.header-right a {
    border-right: 1px solid #3f51b5; 
}


.header-left a:last-child {
    border-right: none;
}


.header-right {
    display: flex;
    align-items: center;
}


.header-right span {
    padding-right: 10px; 
}

.cart-icon {
    font-size: 1.2rem;
    padding-right: 0; 
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
